.header 
  .header-navbar
    .header-nav
      .nav-link
        a.link-logo
          display: inline-block !important;

          img.logo-img
            padding 5px !important;
            height 83% !important;

  .header-cover
    .cover-text
      @media (max-width: 20rem)
        font-size 0.9rem !important;

.content
  p
    img
      display: block
      margin-left: auto
      margin-right: auto

    img[src*="#right"]
      float: right
      padding: 0px 0px 0px 10px;

    img[src*="#left"]
      float: left
      padding: 0px 10px 0px 0px;
